{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "client": "./client/tsconfig.json",
        "server": "./server/tsconfig.json"
    },
    "plugins": ["@typescript-eslint", "prettier"],
    "extends": [
        "eslint:recommended", // https://eslint.org/docs/rules/
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "prettier"
    ],
    "rules": {
        "prettier/prettier": 2
    }
}
